---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import Experience from "../components/Experience.astro";
---

<Layout title="Mariano Chouhy - Portfolio">
	<main>
		<Hero />
	</main>
</Layout>
