---
import Layout from "../layouts/Layout.astro"
import Hero from "../components/Hero.astro"
import Experience from "../components/Experience.astro"
import Projects from "../components/Projects.astro"
import Gaucha from "../components/Gaucha.astro"
---

<Layout title="Mariano Chouhy — Developer & Lawyer">
	<main class="px-2">
		<Hero />
		<div class="space-y-24">
			<Experience />
			<Projects />
		</div>
		<Gaucha />
	</main>
</Layout>
