---
import Section from "./Section.astro";
import User from "./User.astro";
---

<Section id="about" class="mb-24">
  <h2
    class="flex items-center tracking-tight text-3xl sm:text-4xl font-semibold mb-6 gap-x-3"
  >
    <User class="size-8" />
    About
  </h2>
  <article class="flex flex-col gap-5">
    <p class="text-xl text-pretty leading-8">
      Hi! I'm Mariano, and my journey into programming started in 2023 after
      more than 14 years working as a lawyer in the public and private sectors.
      Moving from Argentina to Spain was a turning point in my life, and that
      change gave me the perfect opportunity to explore the tech world.
    </p>
    <p class="text-xl text-pretty leading-8">
      What started as curiosity quickly became a passion. In less than a year, I
      landed my first role as a frontend developer at a Mexican startup while
      continuing to work as a criminal lawyer in Madrid. Balancing both worlds
      has been a challenge, but it's also been an incredible learning
      experience.
    </p>
    <p class="text-xl text-pretty leading-8">
      Some of my achievements include
      <span class="font-bold">
        becoming the youngest Court Clerk in the economic criminal court in
        Buenos Aires after being promoted seven times in eight years and
        implementing a digital jurisprudence system that significantly reduced
        errors in legal decision-making.
      </span>
      Now, as a developer, I bring that same drive for efficiency and problem-solving
      to the tech world.
    </p>
    <p class="text-xl text-pretty leading-8">
      I'm always eager to learn, build, and collaborate on exciting projects.
      Thanks for stopping by!
    </p>
    <a
      href="#contact"
      role="link"
      class="inline-flex w-fit scroll-smooth items-center px-5 py-2 me-2 mb-2
            text-sm text-gray-900 font-medium rounded-full
            bg-white border border-gray-300
            focus:ring-4 focus:outline-none focus:ring-gray-200
            hover:bg-black hover:scale-110 hover:text-white
            transition
            dark:text-white
            dark:border-gray-600 dark:bg-gray-800
            dark:hover:border-gray-600 dark:hover:bg-gray-700
            dark:focus:ring-gray-700"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="icon icon-tabler icon-tabler-mail-forward
                        size-5 me-2"
        viewBox="0 0 24 24"
        stroke-width="2"
        stroke="currentColor"
        fill="none"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <path stroke="none" d="M0 0h24v24H0z" fill="none" clip-rule="evenodd"
        ></path>
        <path
          d="M12 18h-7a2 2 0 0 1 -2 
                        -2v-10a2 2 0 0 1 2 -2h14a2 
                        2 0 0 1 2 2v7.5"
        ></path>
        <path d="M3 6l9 6l9 -6"></path>
        <path d="M15 18h6"></path>
        <path d="M18 15l3 3l-3 3"></path>
      </svg>
      Contact
    </a>
  </article>
</Section>
