---
import Section from "./Section.astro"
import Timeline from "./Timeline.astro"
import Briefcase from "./Briefcase.astro"
---

<Section id="experience" class="min-h-screen">
      <h2
            class="experience-title flex items-center tracking-tight text-3xl sm:text-5xl font-semibold mb-6 gap-x-3"
      >
      <Briefcase class="size-8"/>      
      Experience
      </h2>
      <Timeline />
</Section>