---
const currentYear = new Date().getFullYear();
---

<footer>
      <div class="flex flex-row text-base font-semibold pb-4">
            <span
                  >© {currentYear}
                  <a class="hover:underline" href="https://github.com/mchouhy"
                        >mchouhy</a
                  >. All rights reserved. Based on <a
                        class="hover:underline"
                        href="https://github.com/midudev/porfolio.dev"
                        >midudev portfolio.</a
                  ></span
            >
      </div>
</footer>
