---
const currentYear = new Date().getFullYear();
---

<footer class="mt-20">
  <div class="flex flex-row text-base justify-center font-semibold pb-4">
    <span
      >© {currentYear}
      <a
        class="hover:underline"
        href="https://github.com/mchouhy"
        target="_blank">mchouhy</a
      >. All rights reserved. Based on <a
        class="hover:underline"
        href="https://github.com/midudev/porfolio.dev"
        target="_blank">midudev portfolio.</a
      ></span
    >
  </div>
</footer>
