---

---

<header class="flex items-center justify-between">
      <img class="w-20" src="../../public/images/mchouhy-photo.jpeg" alt="mchouhy photo">
      <a href="">Home</a>
      <a href="">About</a>
      <a href="">Projects</a>
      <a href="">Contact</a>
</header>