---
const navLinks = [
      {
            class: "header-link",
            label: "experience",
            href: "/#experience",
            title: "Experience",
      },
      {
            class: "header-link",
            label: "projects",
            href: "/#projects",
            title: "Projects",
      },
      {
            class: "header-link",
            label: "about",
            href: "/#about",
            title: "About",
      },
      {
            class: "header-link",
            label: "contact",
            href: "/#contact",
            title: "Contact",
      },
];
---

<header class="flex justify-center items-center pt-4">
      <nav class="flex flex-row gap-x-6 text-sm font-semibold">
            {
                  navLinks.map((link) => (
                        <a
                              class={link.class}
                              href={link.href}
                              aria-label={link.label}
                        >
                              {link.title}
                        </a>
                  ))
            }
      </nav>
</header>
      <style>
            .header-link:hover{
                  font-weight: 800;
                  background:#f8ab5e;
                  -webkit-background-clip: text;
                  background-clip: text;
                  -webkit-text-fill-color: transparent;
                  text-decoration:underline #f8ab5e;
                  text-underline-offset:calc(5px);
            }
      </style>
