---
const navLinks = [
      {
            class: "hover:font-bold hover:text-[#f8ab5e]",
            label: "experience",
            href: "/#experience",
            title: "Experience",
      },
      {
            class: "hover:font-bold hover:text-[#f8ab5e]",
            label: "projects",
            href: "/#projects",
            title: "Projects",
      },
      {
            class: "hover:font-bold hover:text-[#f8ab5e]",
            label: "about",
            href: "/#about",
            title: "About",
      },
      {
            class: "hover:font-bold hover:text-[#f8ab5e]",
            label: "contact",
            href: "/#contact",
            title: "Contact",
      },
];
---

<header class="flex items-center justify-between pt-4">
      <nav class="flex flex-row gap-x-6 text-base font-semibold">
            {
                  navLinks.map((link) => (
                        <a
                              class={link.class}
                              href={link.href}
                              aria-label={link.label}
                        >
                              {link.title}
                        </a>
                  ))
            }
      </nav>
</header>
