---

---

<header class="flex items-center justify-between gap-x-96">
      <img class="rounded-full w-14 h-14" src="../../public/images/mchouhy-photo.jpeg" alt="mchouhy-logo">
      <nav class="flex flex-row gap-x-20">
      <a href="">Home</a>
      <a href="">About</a>
      <a href="">Projects</a>
      <a href="">Contact</a>
      </nav>
</header>