---
import Badge from "./Badge.astro"
import SocialPills from "./SocialPills.astro"
---

<section class="w-full lg:w-[740px] mx-auto py-20 mb-44">
      <img
            class="rounded-full w-24 h-24 mb-4"
            src="../../public/images/mchouhy-photo.jpeg"
            alt="mchouhy-logo"
      />
      <h1 class="text-5xl font-bold flex flex-row gap-x-4 pb-4">
            Hey, I'm Mariano Chouhy
            <div class="flex items-center">
                  <a
                        href="https://linkedin.com/in/mchouhy"
                        target="_blank"
                        rel="noopener"
                        class="flex items-center transition md:justify-center md:hover:scale-105"
                        ><Badge>Open to Work</Badge></a
                  >
            </div>
      </h1>
      <h2 class="text-2xl text-wrap pb-4">
            <span class="font-bold"
                  >+14 years experienced Lawyer</span
            ><span class="presentation-span font-bold"
                  >turned Full Stack Developer</span
            > from Argentina 🇦🇷. Madrid-based 🇪🇸. <span
                  class="font-medium"
                  >Committed to leveraging legal expertise for
                  innovative tech solutions.</span
            >
      </h2>
      <ul>
         <SocialPills />   
      </ul>
</section>
<style>
      .presentation-span {
            background: -webkit-linear-gradient(
                  45deg,
                  #f8ab5e,
                  #f36961,
                  #a176c8,
                  #759beb,
                  #65beb3,
                  #70db96
            );
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
            padding-left: 10px;
      }
</style>