---
import Section from "./Section.astro";
import Badge from "./Badge.astro";
import SocialPills from "./SocialPills.astro";
---

<Section class="py-32 md:py-36 sm:min-h-screen">
      <div class="max-w-2xl">
            <div class="flex gap-5 mb-4">
                  <img
                        class="rounded-full size-20"
                        src="../../public/images/mchouhy-photo.jpeg"
                        alt="mchouhy-logo"
                  />
                  <div class="flex items-center">
                        <a
                              href="https://linkedin.com/in/mchouhy"
                              target="_blank"
                              rel="noopener"
                              class="flex items-center transition md:justify-center hover:scale-110"
                              ><Badge>Open to Work</Badge></a
                        >
                  </div>
            </div>
            <strong
                  class="tracking-tight text-5xl sm:text-5xl font-bold flex flex-col-reverse gap-y-3 gap-x-4 mb-4 xs:flex-row md:flex-row lg:flex-row"
            >
                  Hey, I'm Mariano Chouhy
            </strong>
            <h2 class="text-xl xs:text-xl sm:text-2xl text-pretty">
                  <span class="font-bold">+14 years experienced Lawyer</span>
                  <span class="presentation-span font-bold"
                        >turned Full Stack Developer</span
                  >
                  <span>from Argentina 🇦🇷. Madrid-based 🇪🇸.</span>
                  <span class="font-medium"
                        >Committed to leveraging legal expertise for innovative tech
                        solutions.</span
                  >
            </h2>
            <SocialPills />
      </div>
</Section>
<style>
      .presentation-span {
            font-weight: 800;
            background: -webkit-linear-gradient(
                  12deg,
                  #f8ab5e,
                  #f36961,
                  #a176c8,
                  #759beb,
                  #65beb3,
                  #70db96
            );
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
      }
</style>
