---
import Section from "./Section.astro";
import Badge from "./Badge.astro";
import SocialPills from "./SocialPills.astro";
import { basics } from "../cv.json";
---

<Section class="py-12 md:py-36 md:min-h-screen" id="contact">
  <div class="max-w-3xl mx-auto">
    <div class="flex gap-5 mb-4">
      <img
        class="rounded-full size-20"
        src="/images/mchouhy-photo.jpeg"
        alt="mchouhy-logo"
      />
      <div class="flex items-center">
        <a
          href="https://linkedin.com/in/mchouhy"
          target="_blank"
          rel="noopener"
          class="flex items-center transition md:justify-center hover:scale-110"
          ><Badge>Open to Work</Badge></a
        >
      </div>
    </div>
    <strong
      class="tracking-tight text-3xl md:text-5xl sm:text-5xl font-bold flex flex-col-reverse gap-y-3 gap-x-4 mb-4 xs:flex-row md:flex-row lg:flex-row"
    >
      {basics.title}
    </strong>
    <h2 class="text-xl sm:text-2xl">
      <span class="font-bold">+14 years experienced Lawyer</span>
      <span class="presentation-span font-bold">turned Frontend Developer.</span
      >
      <br />
      <span class="font-normal"
        >I blend technical expertise, business acumen, and clear communication
        to build intuitive, high-impact digital solutions.</span
      >
    </h2>
    <SocialPills />
    <div class="flex justify-center mt-12 md:mt-28">
      <video
        src="/videos/scroll-animation.webm"
        class="animate-bounce"
        width="90"></video>
    </div>
  </div>
</Section>
<style>
  .presentation-span {
    font-weight: 800;
    background: -webkit-linear-gradient(
      12deg,
      #f8ab5e,
      #f36961,
      #a176c8,
      #759beb,
      #65beb3,
      #70db96
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
</style>
