---
import Section from "../components/Section.astro";
import Brackets from "../components/Brackets.astro";
---

<Section id="projects">
  <h2
    class="projects-title flex items-center tracking-tight text-3xl sm:text-5xl font-semibold mb-6 gap-x-3"
  >
    <Brackets class="size-8" />
    Projects
  </h2>
  <div class="wrapper">
    <div class="box box1 bg-gray-100">
      <h3>Gaucha</h3>
      <p>Conceptual web design of a jewellery brand.</p>
    </div>
    <div class="box box2 border border-gray-300 bg-gray-100">
      <div
        id="videos-container"
        class="videos-container h-full pl-8 flex items-center gap-8 overflow-x-auto overscroll-x-contain whitespace-nowrap"
      >
        <button
          id="scrollRight"
          class="absolute z-10 right-8 bg-black text-white">right</button
        >
        <video
          autoplay
          loop
          controls
          class="rounded-[32px] h-[85%] border shadow-2xl hover:-translate-y-6 transition-transform"
        >
          <source src="/videos/Guacha-video.mp4" />
        </video>
        <video
          autoplay
          loop
          controls
          class="rounded-[32px] h-[85%] border shadow-2xl hover:-translate-y-6 transition-all"
        >
          <source src="/videos/Guacha-video.mp4" />
        </video>
        <video
          autoplay
          loop
          controls
          class="rounded-[32px] h-[85%] border shadow-2xl hover:-translate-y-6 transition-all"
        >
          <source src="/videos/Guacha-video.mp4" />
        </video>
        <video
          autoplay
          loop
          controls
          class="rounded-[32px] h-[85%] border shadow-2xl hover:-translate-y-6 transition-transform overscroll-contain"
        >
          <source src="/videos/Guacha-video.mp4" />
        </video>
      </div>
    </div>
    <div class="box box3 border border-gray-300 bg-gray-100">
      <div class="h-full flex justify-center items-center">
        <video
          autoplay
          loop
          controls
          class="rounded-[32px] h-[85%] border shadow-2xl"
        >
          <source src="/videos/Guacha-video.mp4" />
        </video>
      </div>
    </div>
    <div class="box box4 border border-gray-300 bg-gray-100">
      <h3>Gaucha</h3>
      <p>Conceptual web design of a jewellery brand.</p>
    </div>
    <div class="box box5 border border-gray-300 bg-gray-100">5</div>
    <div class="box box6 border border-gray-300 bg-gray-100">
      <div class="h-full flex justify-center items-center">
        <video
          autoplay
          loop
          controls
          class="rounded-[32px] h-[85%] border shadow-2xl"
        >
          <source src="/videos/Guacha-video.mp4" />
        </video>
      </div>
    </div>
    <div class="box box7 border border-gray-300 bg-gray-100">
      <div class="h-full flex justify-center items-center">
        <video
          autoplay
          loop
          controls
          class="rounded-[32px] h-[85%] border shadow-2xl"
        >
          <source src="/videos/Guacha-video.mp4" />
        </video>
      </div>
    </div>
    <div class="box box8 border border-gray-300 bg-gray-100">8</div>
  </div>
</Section>
<script>
  document.addEventListener("DOMContentLoaded", (event) => {
    const scrollAmount = 300;
    const scrollRightButton = document.getElementById("scrollRight");
    const videosContainer = document.getElementById("videos-container");

    if (scrollRightButton && videosContainer) {
      scrollRightButton.addEventListener("click", () => {
        videosContainer.scrollBy({ left: scrollAmount, behavior: "smooth" });
      });
      videosContainer.addEventListener("wheel", (e) => {
        e.preventDefault();
        videosContainer.scrollBy({ left: e.deltaY, behavior: "smooth" });
      });
    }
  });
</script>
<style>
  .wrapper {
    display: grid;
    grid-gap: 3rem;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(4, minmax(400px, 560px));
    grid-template-areas:
      "one   one   one   one   one   two   two   two   two   two    two   two"
      "three three three three three three three four four  four   four  four"
      "five  five  five  five  five   six   six   six   six   six    six   six"
      "seven seven seven seven seven seven seven eight eight eight  eight eigth";
  }

  .box {
    border-radius: 32px;
  }

  .box1 {
    grid-area: one;
    margin-inline-end: 0.5rem;
    box-shadow:
      0 10px 15px -3px rgb(0 0 0 / 0.1),
      0 4px 6px -4px rgb(0 0 0 / 0.1);
    backdrop-filter: blur(8px);
  }
  .box2 {
    grid-area: two;
    margin-inline-end: 0.5rem;
    box-shadow:
      0 10px 15px -3px rgb(0 0 0 / 0.1),
      0 4px 6px -4px rgb(0 0 0 / 0.1);
    backdrop-filter: blur(8px);
  }

  .videos-container::-webkit-scrollbar {
    display: none;
  }

  .box3 {
    grid-area: three;
    margin-inline-end: 0.5rem;
    box-shadow:
      0 10px 15px -3px rgb(0 0 0 / 0.1),
      0 4px 6px -4px rgb(0 0 0 / 0.1);
    backdrop-filter: blur(8px);
  }
  .box4 {
    grid-area: four;
    margin-inline-end: 0.5rem;
    box-shadow:
      0 10px 15px -3px rgb(0 0 0 / 0.1),
      0 4px 6px -4px rgb(0 0 0 / 0.1);
    backdrop-filter: blur(8px);
  }
  .box5 {
    grid-area: five;
    margin-inline-end: 0.5rem;
    box-shadow:
      0 10px 15px -3px rgb(0 0 0 / 0.1),
      0 4px 6px -4px rgb(0 0 0 / 0.1);
    backdrop-filter: blur(8px);
  }
  .box6 {
    grid-area: six;
    margin-inline-end: 0.5rem;
    box-shadow:
      0 10px 15px -3px rgb(0 0 0 / 0.1),
      0 4px 6px -4px rgb(0 0 0 / 0.1);
    backdrop-filter: blur(8px);
  }
  .box7 {
    grid-area: seven;
    margin-inline-end: 0.5rem;
    box-shadow:
      0 10px 15px -3px rgb(0 0 0 / 0.1),
      0 4px 6px -4px rgb(0 0 0 / 0.1);
    backdrop-filter: blur(8px);
  }
  .box8 {
    grid-area: eight;
    margin-inline-end: 0.5rem;
    box-shadow:
      0 10px 15px -3px rgb(0 0 0 / 0.1),
      0 4px 6px -4px rgb(0 0 0 / 0.1);
    backdrop-filter: blur(8px);
  }
  @media (max-width: 1150px) {
    .wrapper {
      grid-template-columns: repeat(3, minmax(250px, 1fr));
      grid-template-rows: repeat(4, minmax(250px, 1fr));
      grid-template-areas:
        "one    one    five"
        "seven   two    three"
        "seven  six    three"
        "four  six  eight";
    }
  }
</style>
