---
import Section from "../components/Section.astro"
import Brackets from "../components/Brackets.astro"
---

<Section id="projects" class="min-h-screen">
      <h2
            class="prjoects-title flex items-center tracking-tight text-3xl sm:text-5xl font-semibold mb-6 gap-x-3"
      >
      <Brackets class="size-8"/>      
      Projects
      </h2>
      <div class="wrapper">
            <div class="box">1</div>
            <div class="box">1</div>
            <div class="box">1</div>
            <div class="box">1</div>
            <div class="box">1</div>
            <div class="box">1</div>
            <div class="box">1</div>
            <div class="box">1</div>    
      </div>
</Section>
<style>
      .wrapper {
            display: grid;
            grid-gap: 1rem;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(3, 1fr);
            grid-template-areas: "tleft tleft tcentral tright"
                                 "cleft ccleft ccbright cright"
                                 "bleft bleft  ccbright bright";
      }

      .box {
            background-color: brown;
            border-radius: 32px;
            min-height: 17.5rem;
            text-align: center;
            font-size: larger;
            font-weight: 900;
      }
</style>
