---
import Section from "../components/Section.astro"
import Brackets from "../components/Brackets.astro"
---

<Section id="projects" class="min-h-screen">
      <h2
            class="prjoects-title flex items-center tracking-tight text-3xl sm:text-5xl font-semibold mb-6 gap-x-3"
      >
      <Brackets class="size-8"/>      
      Projects
      </h2>
</Section>