---
import Section from "../components/Section.astro";
import Brackets from "../components/Brackets.astro";
import Clau from "../components/Clau.astro";
import Cpa from "./Cpa.astro";
import Ache from "./Ache.astro";
import PixelConverter from "./PixelConverter.astro";
import Palindrome from "./Palindrome.astro";
import Gaucha from "./Gaucha.astro";
---

<Section id="projects">
  <h2
    class="projects-title flex items-center tracking-tight text-3xl sm:text-4xl font-semibold mb-6 gap-x-3"
  >
    <Brackets class="size-8" />
    Projects
  </h2>
  <div class="grid md:grid-cols-5 md:grid-rows-12 gap-4">
    <Clau />
    <Cpa />
    <PixelConverter />
    <Palindrome />
    <Ache />
    <Gaucha />
  </div>
</Section>
